body{
    min-height: 100vh;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #F98404;
}

.main{
    display: flex;
    justify-content: space-between;
    background: #F9B208;
}
