.section__left{
    width: 40%;
    background: #F9B208;
    padding: 1rem;

    &__img{
        width: 10.8rem;
        height: 10.8rem;
        padding: 1rem;
        object-fit: cover;

        &:hover{
            cursor: pointer;
        }
    }
}