.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    padding-top: 2rem;
    background: #F9B208;

    &__logo{
        font-size: 350%;
        color: #FC5404;
    }
}