.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: green;

    &__img{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
    }
}